*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(192, 192, 252);
}

.blue {
  background-color: blue;
  border-radius: 10px;
}

main{
  background-color: rgb(247, 212, 147);

  section{
    padding: 20px 5px;
    margin: 5px;
    border: 1px solid white;
  }
}

footer{
  background-color: aquamarine;
}
